.abt-column {
    float: left;
    width: 25%;
    padding: 0.22rem;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-top: 2rem;
    background-image: linear-gradient(120deg, #C68B59,#CDAC81, #D7B19D);
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    
}
.abt-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    height: 33vh;
    cursor: pointer;
    margin-top: 1rem;
    border: 0.1rem solid brown;
    border-radius: 0.5rem;
    /* background-image: linear-gradient(120deg, #5cbdbd, #536da0); */
    /* background-image: linear-gradient(120deg, #C68B59,#CDAC81, #D7B19D); */
    background-color:#FFEDED ; 
/* background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);   */
/* background: linear-gradient(to right, #2c3e50, #2980b9); */
}

.abt-card h2{
    font-size: medium;
    text-decoration: underline;

}
/* .abt{
    background-image: linear-gradient(120deg, #C68B59,#CDAC81, #D7B19D);
    
} */
.about{
    margin-left: 42%;
    font-size: xx-large;
}
/* .abt-row{
    background-image: linear-gradient(120deg, #C68B59,#CDAC81, #D7B19D);

} */
.about-slider{
    position: absolute;
    color: bisque;
    top: 90%;
    margin-left: 10rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    text-shadow: 3px;
}