.email-form form{
  display: block;
  margin-top: 2rem;
  flex-direction: column;
  width: 50%;
  margin-left: 30%;
   border-radius: 10px;
}
.email-form input{
  display: block;
  width: 80%;
  margin: 0 auto; /* center the form horizontally */
  padding: 15px;
  border: 0.1rem solid;
  border-radius: 0.5rem;
}