.home-video{
    position: absolute;
    width: 100%;
    background-size: cover;
}
.intro{
    position: relative;
    color: #865439;
    text-align: center;
    text-indent: 70px;
    letter-spacing: 3px;
    /* margin-top: 5rem; */
}
.motto{
    font-size: xx-large;
    font-style: italic;
}
  
.column {
    float: left;
    width: 25%;
    padding: 5rem;
    margin-bottom: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    cursor: pointer;
    margin-top: -2rem;
    background-color: #F5F4F4;
}
.card img{
    height: 20vh;

}
.card h2{
    font-size: medium;
}
.statisticcs {
    /* background-image: url("../images/bg.jpeg"); */
    background-image: linear-gradient(120deg, #C68B59,#CDAC81, #D7B19D);
    display: grid;
    width: 100%;
    padding: 0px 0px 50px 0px;

}
.statisticcs img{
    background-size: cover;
}
.header-nums{
    margin-top: 0.5rem;
    font-size: x-large;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem; 
}
.header-nums p{
    margin-top: 0.5rem;
    font-size: medium;
    text-align: center;
    margin-bottom: 2rem; 
    font-weight: 500;
} 

.statistics__container {
    display: grid;
    width: 84%;
    margin: 0px auto;    
    padding: 30px 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "statistics__served statistics__no__of__projects statistics__locations ";
}

.statistics__served {
    grid-area: statistics__served;
}

.statistics__no__of__projects {
    grid-area: statistics__no__of__projects;
}


.statistics__locations {
    grid-area: statistics__locations;
}
.statistics__served span,
.statistics__no__of__projects span,
.statistics__locations span {
    
    color: #b35a0d;
    text-align: center;
    font-size: 66px;
    font-family: 'Poppins';
    margin-right: 50px;
}





.statistics__served,
.statistics__no__of__projects,
.statistics__locations {
    
    color: #000;
    text-align: center;
    font-size: 33px;
    font-family: 'Poppins';
    
}



/* Media query - statisticcs  */


@media screen and (min-width: 360px){ 


    .statistics__container {
        display: grid;
        width: 84%;
        margin: 0px auto;    
        padding: 30px 10px;        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "statistics__served statistics__no__of__projects statistics__locations ";
    }

    .statistics__served span,
    .statistics__no__of__projects span,
    .statistics__locations span {        
        
        font-size: 28px;       
        
    }


    .statistics__served p,
    .statistics__no__of__projects p,
    .statistics__locations p {        
        
        font-size: 16px;        
        
    }


   

}


@media screen and (min-width: 500px){ 


    .statistics__container {
        display: grid;
        width: 84%;
        margin: 0px auto;    
        padding: 30px 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "statistics__served statistics__no__of__projects statistics__locations ";
    }


    .statistics__served span,
    .statistics__no__of__projects span,
    .statistics__locations span {        
        
        font-size: 33px;       
        
    }


    .statistics__served p,
    .statistics__no__of__projects p,
    .statistics__locations p {        
        
        font-size: 18px;        
        
    }




}



@media screen and (min-width: 900px){


    .statistics__container {
        display: grid;
        width: 84%;
        margin: 0px auto;    
        padding: 30px 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "statistics__served statistics__no__of__projects statistics__locations ";
    }


    .statistics__served span,
    .statistics__no__of__projects span,
    .statistics__locations span {        
        
        font-size: 44px;       
        
    }


    .statistics__served p,
    .statistics__no__of__projects p,
    .statistics__locations p {        
        
        font-size: 22px;        
        
    } 



}



@media screen and (min-width: 1000px){


    .statistics__container {
        display: grid;
        width: 84%;
        margin: 0px auto;    
        padding: 30px 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "statistics__served statistics__no__of__projects statistics__locations ";
    }


    .statistics__served span,
    .statistics__no__of__projects span,
    .statistics__locations span {        
        
        font-size: 55px;       
        
    }


    .statistics__served p,
    .statistics__no__of__projects p,
    .statistics__locations p {        
        
        font-size: 32px;        
        
    } 
}


@media screen and (min-width: 1200px){


    .statistics__container {
        display: grid;
        width: 84%;
        margin: 0px auto;    
        padding: 30px 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "statistics__served statistics__no__of__projects statistics__locations ";
    }


    .statistics__served span,
    .statistics__no__of__projects span,
    .statistics__locations span {        
        
        font-size: 66px;       
        
    }


    .statistics__served p,
    .statistics__no__of__projects p,
    .statistics__locations p {        
        
        font-size: 32px;        
        
    } 

}



@media screen and (min-width: 1400px){


    .statistics__container {
        display: grid;
        width: 84%;
        margin: 0px auto;    
        padding: 30px 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "statistics__served statistics__no__of__projects statistics__locations ";
    }


    .statistics__served span,
    .statistics__no__of__projects span,
    .statistics__locations span {        
        
        font-size: 66px;       
        
    }


    .statistics__served p,
    .statistics__no__of__projects p,
    .statistics__locations p {        
        
        font-size: 32px;        
        
    } 
}
.report{
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    margin-top: 40rem;
}
.report p{
    margin-top: 0.5rem;
    font-size: medium;
}