.submit-form{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 50%;
  margin: 0 auto; /* center the form horizontally */
  padding: 20px;
  margin-top: 2rem;
  border-radius: 0.5rem;

}
.submit-form form{
    /* background-image: url("../images/bg.jpeg"); */
    background-image: linear-gradient(120deg, #C68B59,#CDAC81, #D7B19D);
    background-size: cover;
  border-radius: 0.5rem;
}
.submit-form label{
  padding: 0.5rem;
  
}

.submit-form input{
    display: block;
  width: 50%;
  margin: 0 auto; /* center the form horizontally */
  padding: 15px;
  border: 0.1rem solid  ;
  border-radius: 0.5rem;
}
.submit-btn{
    text-decoration: none;
    border: 3px solid black;
    color: transparent;
    padding: 10px 10px;
    font-size: 22px;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 0.5s;
    position: relative;
    margin-left: 40%;
    margin-top: 1rem;
    border-radius: 0.5rem;
  }

  .submit-btn:before {
    content: "Submitted";
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
  }
  .submit-btn:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
  }
  .submit-btn:after {
    content: "Submit";
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
  }
  .submit-btn:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
  }