.user-reports{
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    float: left;
    width: 25%;
    overflow: hidden;
    margin-left: 5rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;

}

.user-info{
    width: 50%;
    height: 50%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}
.user-info p{
    font-weight: 400;
    padding-left: 2rem;
}
.user-info h1{
    font-size: larger;
    font-style: italic;
    color: #613718;
    margin-left: 10rem;
    text-decoration: underline;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.logout-btn{
    /* color: white; */
    /* background-color: #7b38d8; */
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: underline;
    font-style: oblique;
}
.logout-btn:hover{
    color: #975b27;
}
.user-nav{
    padding-top: 3rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    text-decoration: underline;
    text-decoration-color: goldenrod;
    color: #613718;
}
.user-nav:hover h2{
    color: #975b27;
    cursor: pointer;
}
.btn:hover{
    background-color: #975b27;
    transition: .2s ease;
  }

.btn{
    /* display: inline-block; */
    background-color: #613718;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 0.5rem;
    padding: 10px;
    width: 100px;
    color: #ffffff;
    text-align: center;
    margin: 0.1rem;
    margin-top: 2rem;
}
.user-container{
    background-color: #F1F1F1;
    padding-top: 20px;
    padding-bottom: 20px;
}